<!-- views/partials/branchesGrid.ejs  -->
<div class="col-sm-4" align="left">
	<li class="list-group-item">
		<u>Branch Id</u>: <%= id %> </br>
		<u>Branch Name</u>: <%= name %> </br>
		<u>Active</u>: <%= active %> </br>
		<u>Address</u>: <%= address %> </br>
		<u>Phone Number</u>: <%= phoneNumber %> </br>
	</li> </br>
</div>